/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

body {
    background-color: rgb(116, 188, 255);
}

ul {
    list-style: none;
    padding: 0;
    width: 30%;
    margin: 0 auto;
}

li {
    margin-bottom: 10px;
    border: 3px solid white;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
}

h1 {
    font-weight: 900;
}

.done {
    text-decoration: line-through;
    background-color: rgb(202, 164, 117);
}

/* HEADER */


/* MAIN */


/* FOOTER */